<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "all products", products_path %><br><br>


  <% flash.each do |flash, msg| %>
    <%= msg %>
  <% end %>
  <br>
<%= yield %>

<% if signed_in? %>

  <%= link_to "View Cart", user_path(current_user) %>
  <%= link_to "Sign Out", session_path, method: :delete %>

<% else %>

  <%= link_to "Sign In", new_session_path %>

<% end %>

</body>
</html>
